Names=Names.txt
NamesPhu=Names2\123.txt
VietPhrase=VietPhrase\VietPhrase.txt
ChinesePhienAmWords=Resources\ChinesePhienAmWords.txt
DanhTu=Resources\DanhTu.txt
HoNguoi=Resources\HoNguoi.txt
HauTu=Resources\HauTu.txt
LacViet=Resources\LacViet.txt
IgnoredChinesePhrases=IgnoredChinesePhrases.txt
LuatNhan=LuatNhan.txt
Pronouns=Resources\Pronouns.txt
